body{
    background-color: rgb(135, 195, 255);
}
.idk{
    align-items: center;
    text-align: center;
}
h1{
    text-align: center;
    color: rgb(37, 34, 34);
}

.texto{
    color: rgb(70, 66, 66);
}